@import url(./reset.css);
* {
  font-family: "Inter";
  font-style: normal;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

header {
  width: 100%;
  background-color: #000;
}
header div.header-top {
  padding: 28px;
  display: flex;
  justify-content: space-between;
}
header div.header-top p a {
  color: #fff;
}
header div.header-bottom {
  width: 100%;
  padding-bottom: 28px;
  background-color: #000;
  display: flex;
  justify-content: center;
}
header div.header-bottom ul {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 15%;
}
header div.header-bottom ul li a {
  color: #fff;
}

main {
  /* visual */
  /* main container */
}
main div.main-visual-container {
  display: flex;
}
main div.main-visual-container img {
  width: 50%;
}
main div.main-visual-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
main div.main-visual-container div div {
  margin: 0 auto;
  width: 70%;
}
main div.main-visual-container div div span {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 14px;
}
main div.main-visual-container div div p {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}
main div.main-container {
  margin: 34px 97px 100px 57px;
}
main div.main-container p {
  margin-bottom: 30px;
}
main div.main-container div.main-contnet {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* watch content box */
}
main div.main-container div.main-contnet div.side-menu {
  width: 10%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 0;
}
main div.main-container div.main-contnet div.side-menu select {
  border-style: none;
  width: 100%;
  border-bottom: solid 1px black;
  margin-bottom: 30px;
}
main div.main-container div.main-contnet div.watch-content {
  width: 80%;
  text-align: center;
}
main div.main-container div.main-contnet div.watch-content ul {
  display: flex;
  justify-content: space-between;
}
main div.main-container div.main-contnet div.watch-content ul li a img {
  width: 100%;
}
main div.main-container div.main-contnet div.watch-content ul li div.text-box {
  margin: 17px 0px 27px 0px;
}
main div.main-container div.main-contnet div.watch-content ul li div.text-box p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
main div.main-container div.main-contnet div.watch-content ul li div.text-box span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
main div.main-container div.main-contnet div.watch-content ul li div.button-box {
  margin-bottom: 102px;
  display: flex;
  justify-content: space-evenly;
}

footer .as-icon {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.4);
  padding: 40px 0px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
footer .as-icon li a p {
  margin-top: 10px;
}
footer div.follow {
  margin: 49px 0px 65px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer div.follow p {
  font-size: 18px;
  line-height: 22px;
}
footer div.follow ul {
  width: 33%;
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  margin-bottom: 64px;
}
footer div.follow ul li {
  transition: 10s;
}
footer div.follow ul li:hover a img {
  transform: scale(1.5);
}
footer .footer-bottom {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 22px 0px;
  background-color: #000;
  /* width: 100%; */
}
footer .footer-bottom span {
  color: #fff;
}
footer .footer-bottom p {
  margin-top: 50px;
  color: #fff;
}/*# sourceMappingURL=subindex.css.map */