@import url(./reset.css);

* {
    font-family: 'Inter';
    font-style: normal;

}

button {
    background-color: black;

    border: none;

    color: white;

    padding: 5px 15px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    border-radius: 10px;

    cursor: pointer;

}


header {
    width: 100%;
    background-color: #000;

    div.header-top {
        padding: 28px;
        display: flex;

        justify-content: space-between;

        p {
            a {
                color: #fff;
            }
        }
    }


    div.header-bottom {
        width: 100%;
        padding-bottom: 28px;
        background-color: #000;
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
            width: 15%;

            li {
                a {
                    color: #fff;
                }
            }


        }
    }
}

main {

    /* visual */
    div.main-visual-container {
        display: flex;

        img {
            width: 50%;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;

            div {
                margin: 0 auto;
                width: 70%;

                span {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    margin-bottom: 14px;
                }

                p {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 27px;
                }
            }
        }
    }

    /* main container */
    div.main-container {
        margin: 34px 97px 100px 57px;

        p {
            margin-bottom: 30px;
        }

        div.main-contnet {
            width: 100%;
            display: flex;
            justify-content: space-between;

            div.side-menu {
                width: 10%;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                position: sticky;
                align-self: flex-start;
                top: 0;

                select {
                    border-style: none;
                    width: 100%;
                    border-bottom: solid 1px black;
                    margin-bottom: 30px;

                }
            }

            /* watch content box */
            div.watch-content {
                width: 80%;
                text-align: center;

                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        a {
                            img {
                                width: 100%;
                            }
                        }

                        div.text-box {
                            margin: 17px 0px 27px 0px;


                            p {
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 22px;
                            }

                            span {
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 22px;
                            }
                        }

                        div.button-box {
                            margin-bottom: 102px;
                            display: flex;
                            justify-content: space-evenly;
                        }
                    }
                }
            }
        }
    }

}

footer {

    .as-icon {
        width: 100%;
        background-color: #F5F5F566;
        padding: 40px 0px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;

        li {
            a {

                p {
                    margin-top: 10px;

                }
            }
        }
    }

    div.follow {
        margin: 49px 0px 65px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 18px;
            line-height: 22px;

        }

        ul {
            width: 33%;
            display: flex;
            justify-content: space-between;
            margin-top: 17px;
            margin-bottom: 64px;

            li {

                transition: 10s;

            }

            li:hover a img {
                transform: scale(1.5);
            }
        }
    }

    .footer-bottom {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        padding: 22px 0px;
        background-color: #000;

        /* width: 100%; */
        span {
            color: #fff;

        }

        p {
            margin-top: 50px;
            color: #fff;
        }
    }
}